<h1>ABOUT LIGHT ECHOES</h1>

<p>I am a young woman who enjoy clubbing very much. Going clubbing brings me joy and preleases my presure. I can show off my personalities and my style under the loud music and disco lights. People will wear fancy clothes in the club to express their own opinions of sexy, express themselves and most importantly, enjoy ourselves!

    As a professional female clubber, I found some problems about clubwear for women. They are lack of functionality, sustainability and sometimes insecurely. These are the problems I want to solve to give women and myself a more responsible clubwear for women.
    
    To improve functionality, I designed unless one pocket to my clubwears. The materials I choose are sporty materals that can be machine washed easily to increase the longevity of clubwears: sports mesh, spendex, jersey and cotton.
    
    Layers is another important element of this collection. I layered fabric materials in different ways with my original fabric prints on it to create unique materialities, and giving my customers more choices to style themsleves.
    .</p>
