<a href="/">HOME</a>

<h1>Womenswear 2023</h1>

<img src="{{ url_for('static', filename='look_book/yidan 4_230004.JPG') }}" height="300" width="200" />

<img src="{{ url_for('static', filename='look_book/yidan 4_230024.JPG') }}" height="300" width="200" />

<img src="{{ url_for('static', filename='look_book/yidan 4_230133.JPG') }}" height="300" width="200" />

<img src="{{ url_for('static', filename='look_book/yidan 4_230064 1.JPG') }}" height="300" width="200" />

<img src="{{ url_for('static', filename='look_book/yidan 4_230083.JPG') }}" height="300" width="200" />
